.searchbutton {
  border-radius: 60px;
  background-color: var(--lightblue);
  border: none;
  margin-left: 20px;
  width: 8vw;
  font-family: "Quicksand", sans-serif;
  height: 2vw;
  margin-top: 1em;
}

table {
  padding: 2em 0em 0em 1em;
}

.mood3 {
  background-color: #ff7070;
}

.mood2 {
  background-color: #ffb05c;
}

.mood1 {
  background-color: #bfea9a;
}
