.App {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.formBox{

  border:1px solid greenyellow
}

hr {
  border-color: #359fd42f;
  border-width: 1px;
  width: 80%;
  margin-top: 3em;
}