table td + td,
th + th {
  padding: 1em;
  border: 1px var(--lightblue) solid;
}

table td,
th {
  border: 1px var(--lightblue) solid;
}

table {
  width: 90%;
  margin: 1em 0 0 1em;
  border-collapse: collapse;
  font-family: "Quicksand", sans-serif;
  border: 1px var(--lightblue) solid;
}


th {
  background-color: rgb(245, 245, 245);
}

